.nav {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  background-color: var(--color-athens-gray);
}

.nav > li {
    border: 1px solid white;
    flex: 1;
}

.nav a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  font-weight: bold;
  color: red;
  text-align: center;
}
